* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.mainContainer {
  margin: 50px;
}
.contentContainer {
  padding: 20px;
}
.myPicture {
  height: calc(256px + 10vw);
  /* max-height: 30%; */
  border-radius: 50%;
  /* width: 200px; */
  margin: 10px;
}