* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}
.mainContainer {
  /* flex-direction: row; */
  justify-self: center;
  margin: 50px;
}
.contentContainer {
  padding: 20px;
}
.myPicture {
  height: calc(256px + 10vw);
  width: auto;
  /* max-height: 30%; */
  border-radius: 50%;
  /* width: 200px; */
  margin: 10px;
}
.social-icon{
  height:20px;
  width:20px;
  margin: 0px 10px 0px 5px;
}

@media screen and (max-width: 600px) {
  .myPicture {
    height: 250px;
    width: auto;
  }
  .mainContainer {
    margin: 0px;
    padding: 10px;
  }
  .contentContainer {
    padding: 20px;
  }
  .heading {
    text-align: center;
  }
  p {
    text-align: center;
  }
}